.App {
  margin: auto;
  max-width: 700px;
}

#holder {
  text-align: left;
  padding: 100px 50px;
}

.shrink {
  margin: 0 20px 20px 0;
}

.shrink:hover {
  cursor: zoom-in;
  transition: 0.1s ease;
  transform: scale(0.95);
}

@media (max-width: 600px) {
  #holder {
    padding: 50px 30px;
  }

  .shrink {
    transform: scale(0.95);
    margin: 0 10px 10px 0;
  }
}
